<p><%= @name %> 様</p>
<br>
<p>この度はご注文いただき誠にありがとうございます。</p>
<p>商品を発送しました。</p>

<br>
<p>--------------------------------------------</p>
<p>注文日時：<%= @date %></p>
<p>商品名：<%= @item_name %></p>
<p>価格：<%= @price %>円</p>
<p>配送先住所：<%= @address_city %><%= @address_street %><%= @address_building %></p>
<p>--------------------------------------------</p>

<p>またのご利用をお待ちしております。</p>