<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>

<body>
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">LINUS</a></li>
        <li class="nav-item"><a href="#" class="nav-link">QRスキャン</a></li>
        <% if current_user.card.blank? %>
        <li class="nav-item">
        <%= link_to "クレジットカード登録", new_card_path , class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item">
        <%= link_to "マイページ", mypage_path ,class: "nav-link" %>
        </li>
        
      </ul>
    </header>
<div class="container-fluid">
  <div class="row">
      <main>

        <h1 class="h2 text-center">購入履歴</h1>
        
    <%  if @orders.present? %>
    <% @orders.each do |order| %>
        <% @products = Product.where(id: order.product_id) %>
         <% @products.each do |product| %>

    <div class="card mb-3" >
      <div class="row g-0">
      <div class="col-md-4">
       <%= product.image %>
      </div>

      <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
        <%= product.item_name %>
        </h5>
        <p class="card-text">SIZE:<%= product.size %></p>
        <p class="card-text">在庫:<%= product.stock_quantity %></p>
        <p class="card-text"><small class="text-muted">詳細:<%= product.description %></small></p>
      </div>
      </div>
      </div>
      </div>

    <% end %>

    <% end %>
    <%  else %>
        購入したものはありません
        ここは今わかりませんので、あとで修正します。
    <%  end %>




      </main>

  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>







</body>
</html>




