<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>

<body>
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        
        <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">LINUS</a>
        </li>
        
        <li class="nav-item">
        <%= link_to "QRスキャン", scan_products_path ,class: "nav-link" %>
        </li>
        
        <% if current_user.card.blank? %>
        <li class="nav-item">
        <%= link_to "クレジットカード登録", new_card_path , class: "nav-link" %>
        </li>
        <% end %>
        
        <li class="nav-item">
        <%= link_to "マイページ", mypage_path ,class: "nav-link" %>
        </li>
        
      </ul>
    </header>
      <main>
      <p id="notice"><%= notice %></p>
      <h1 class="h2 text-center">おすすめのテスター</h1>

      <div class="container-fluid">
      <div class="row flex-row flex-nowrap">
      <% @recomends.each do |r| %>
      <% unless @test_orders.exists?(tester_id: r.id) %>

      
      <div class="col-3">

        <div class="card card-block">
            <%= image_tag r.image.to_s if r.image.present?  %>

          <div class="card-body">

            <h4 class="card-title"><%= r.item_name %></h4>
            <p class="card-text">価格:<%= r.price %>円</p>
            <p class="card-text"><small class="text-muted">商品説明:<%= r.description %></small></p>
            <p class="text-center"><%= link_to "詳細", tester_page_tester_path(r.id),class: "btn btn-outline-danger " %></p>
          </div>
        </div>

      </div>
      
    <% end %>
    <% end %>

      </div>
      </div>


 


      <h1 class="h2 text-center">テスター購入履歴</h1>

        
      <%  if @test_orders.present? %>
      <% @test_orders.each do |test_order| %>
      <% @testers = Tester.where(id: test_order.tester_id) %>
      <% @testers.each do |tester| %>


      <div class="card mb-3" >
      <div class="row g-0">
      <div class="col-md-4 text-center">
      <%= image_tag tester.image.to_s if tester.image.present?  %>
      </div>

      <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
        <%= tester.item_name %>
        </h5>
        <p class="card-text">価格:<%= tester.price %>円</p>
        <p class="card-text"><small class="text-muted">商品説明:<%= tester.description %></small></p>
        <p class="card-text"><%= link_to "商品詳細", tester_page_tester_path(tester.id) %></p>
      </div>
      </div>

      </div>
      </div>

    <% end %>
    <% end %>
    <%  else %>
    <h5 class="text-center">
        テスターの購入履歴はございません。
        テスターをぜひご利用下さい。
    </h5>
    <%  end %>





      <h1 class="h2 text-center">購入履歴</h1>
        
      <%  if @orders.present? %>
      <% @orders.each do |order| %>
      <% @products = Product.where(id: order.product_id) %>
      <% @products.each do |product| %>

      <div class="card mb-3" >
      <div class="row g-0">
      <div class="col-md-4 text-center">
      <%= image_tag product.image.to_s if product.image.present?  %>
      </div>

      <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
        <%= product.item_name %>
        </h5>
        <p class="card-text">価格:<%= product.price %>円</p>
        <p class="card-text"><small class="text-muted">商品説明:<%= product.description %></small></p>
        <p class="card-text"><%= link_to "商品詳細", product_page_product_path(product.id) %></p>
      </div>
      </div>

      </div>
      </div>

    <% end %>
    <% end %>
    <%  else %>
    <h5 class="text-center">
        商品の購入履歴はございません。
        テスターのQRコードを読み取り、ご購入下さい。
    </h5>
    <%  end %>


      </main>

  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

</body>
</html>




