<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>

<body>
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        
        <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">LINUS</a>
        </li>
        
        <li class="nav-item">
        <%= link_to "QRスキャン", scan_products_path ,class: "nav-link" %>
        </li>
        
        <% if current_user.card.blank? %>
        <li class="nav-item">
        <%= link_to "クレジットカード登録", new_card_path , class: "nav-link" %>
        </li>
        <% end %>
        
        <li class="nav-item">
        <%= link_to "マイページ", mypage_path ,class: "nav-link" %>
        </li>
        
      </ul>
    </header>
<div class="container-fluid">
  <div class="row">
      <main>
      <h1 class="h2 text-center">クレジットカード登録フォーム</h1>

<%= form_with url: cards_path, id: "card_form", local: true do |f| %>
  <div class="text-center">
    <%= f.label :number, "カード番号" %>
    <%= f.text_field :number %>
  </div>
  <div class="text-center">
    <%= f.label :name, "カード名義人" %>
    <%= f.text_field :name %>
  </div>
  <div class="text-center">
    <%= f.label :cvc, "セキュリティコード" %>
    <%= f.text_field :cvc %>
  </div>
  <div class="text-center">
    <%= f.label :exp_month, "有効期限（月）" %>
    <%= f.text_field :exp_month %>
  </div>
  <div class="text-center">
    <%= f.label :exp_year, "有効期限（年）" %>
    <%= f.text_field :exp_year %>
  </div>
  <br>
  <div class="text-center">
    <%= f.submit "送信", class: "btn btn-outline-success" %>
  </div>
<% end %>


      </main>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</body>
</html>







